<?xml version="1.0" encoding="utf-8"?>
<packages>
		<package id="ros-dashing-ament-cmake"/>
		<package id="ros-dashing-ament-cmake-gtest"/>
		<package id="ros-dashing-ament-lint-auto"/>
		<package id="ros-dashing-ament-lint-common"/>
		<package id="ros-dashing-class-loader"/>
		<package id="ros-dashing-cv-bridge"/>
		<package id="ros-dashing-geometry-msgs"/>
		<package id="ros-dashing-message-filters"/>
		<package id="ros-dashing-object-analytics-msgs"/>
		<package id="ros-dashing-object-msgs"/>
		<package id="ros-dashing-pcl-conversions"/>
		<package id="ros-dashing-rclcpp"/>
		<package id="ros-dashing-rclcpp-components"/>
		<package id="ros-dashing-sensor-msgs"/>
		<package id="ros-dashing-ros-workspace"/>
		<package id="ros-dashing-ament-cmake-core"/>

</packages>