Source: ros-crystal-object-analytics-msgs
Section: misc
Priority: extra
Maintainer: Chris Ye <chris.ye@intel.com>
Build-Depends: debhelper (>= 9.0.0), ros-crystal-ament-cmake, ros-crystal-builtin-interfaces, ros-crystal-geometry-msgs, ros-crystal-object-msgs, ros-crystal-rosidl-default-generators, ros-crystal-sensor-msgs, ros-crystal-std-msgs, ros-crystal-tf2-ros
Homepage: 
Standards-Version: 3.9.2

Package: ros-crystal-object-analytics-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-crystal-geometry-msgs, ros-crystal-object-msgs, ros-crystal-rosidl-default-runtime, ros-crystal-sensor-msgs, ros-crystal-std-msgs, ros-crystal-tf2-ros
Description: object analytics message definition
