Source: ros-crystal-object-analytics-rviz
Section: misc
Priority: extra
Maintainer: Chris Ye <chris.ye@intel.com>
Build-Depends: debhelper (>= 9.0.0), ros-crystal-ament-cmake, ros-crystal-cv-bridge, ros-crystal-geometry-msgs, ros-crystal-object-analytics-msgs, ros-crystal-object-msgs, ros-crystal-rclcpp, ros-crystal-sensor-msgs, ros-crystal-std-msgs, ros-crystal-visualization-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-crystal-object-analytics-rviz
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-crystal-cv-bridge, ros-crystal-geometry-msgs, ros-crystal-object-analytics-msgs, ros-crystal-object-msgs, ros-crystal-rclcpp, ros-crystal-sensor-msgs, ros-crystal-std-msgs, ros-crystal-visualization-msgs
Description: Display object analytics result in rviz
